[submodule "masks"]
	path = masks
	url = https://github.com/lnnrtwttkhn/highspeed-masks.git
	datalad-id = 3fd388b8-227e-11eb-be00-acde48001122
[submodule "fmriprep"]
	path = fmriprep
	url = https://github.com/lnnrtwttkhn/highspeed-fmriprep.git
	datalad-id = 5d3f9086-f9a2-11ea-ab15-acde48001122
[submodule "glm"]
	path = glm
	url = https://github.com/lnnrtwttkhn/highspeed-glm.git
	datalad-id = b7fed17e-2758-11eb-aebd-8c859041f10d
[submodule "bids"]
	path = bids
	url = https://github.com/lnnrtwttkhn/highspeed-bids.git
	datalad-id = 94ae2510-f811-11ea-a3da-00e04c10078d
